
/* I. App Window */
#app-mount,
.container-2RRFHK,
.perksModalContentWrapper-2HU6uL {
    background: var(--sheer), var(--sheer)),var(--BGPicture);
}

    #app-mount .app-2CXKsg,
    #app-mount .layers-OrUESM,
    .privateChannels-oVe7HL,
    .container-1eFtFS,
    #app-mount .layer-86YKbF,
    .bg-1QIAus {
        background-color: transparent;
    }


.appMount-2yBXZl, body, html {
    height: 100%;
    width: 100%
}

.appMount-2yBXZl {
    position: absolute;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.appMount-2yBXZl, body {
    background-color: var(--background-tertiary);
    text-rendering: optimizeLegibility;
}

.overlay .appMount-2yBXZl, .overlay body {
    background: transparent
}
