

/*#region Animations */

@keyframes cv-fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes cv-fade-to-1 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.1
    }
}

@keyframes cv-fade-to-2 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.2
    }
}

@keyframes cv-fade-to-3 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.3
    }
}

@keyframes cv-fade-to-4 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.4
    }
}

@keyframes cv-fade-to-5 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.5
    }
}

@keyframes cv-fade-to-6 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.6
    }
}

@keyframes cv-fade-to-7 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.7
    }
}

@keyframes cv-fade-to-8 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.8
    }
}

@keyframes cv-fade-to-9 {
    from {
        opacity: 0
    }

    to {
        opacity: 0.9
    }
}

@keyframes cv-slide-top {
    from {
        top: 100%
    }

    to {
        top: 0
    }
}

@keyframes cv-slide-right {
    from {
        right: 100%
    }

    to {
        right: 0
    }
}

@keyframes cv-slide-bottom {
    from {
        bottom: 100%
    }

    to {
        bottom: 0
    }
}

@keyframes cv-slide-left {
    from {
        left: 100%
    }

    to {
        left: 0
    }
}

@keyframes cv-channel-select {
    from {
        right: 100%;
        background-color: rgba(0,0,0,0)
    }

    to {
        right: 0;
        background-color: var(--main-color)
    }
}

@keyframes cv-message-jump {
    from {
        background: rgba(255,255,255,.3)
    }

    to {
        background: rgba(0,0,0,0)
    }
}

@keyframes cv-update-spin {
    from {
        transform: rotateZ(0) scaleX(-1)
    }

    to {
        transform: rotateZ(360deg) scaleX(-1)
    }
}

@keyframes cv-update-downloading {
    0% {
        background-size: 24px,10px 0
    }

    50% {
        background-position: center,50% 10px;
        background-size: 24px,10px 10px
    }

    100% {
        background-position: center,50% 20px;
        background-size: 24px,10px 0
    }
}

@keyframes cv-spin {
    from {
        transform: rotateZ(0)
    }

    to {
        transform: rotateZ(360deg)
    }
}

@keyframes cv-spinner-glow {
    from {
        filter: drop-shadow(0 0 3px var(--main-color))
    }

    to {
        filter: drop-shadow(0 0 3px var(--main-color)) drop-shadow(0 0 15px var(--main-color))
    }
}

@keyframes cv-spinner-pulse {
    from {
        transform: scale(0.8);
        opacity: .3
    }

    to {
        transform: none;
        opacity: 1
    }
}

@keyframes cv-menu-fold-y {
    from {
        transform: rotateX(-90deg);
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    }
}

@keyframes cv-menu-fold-x {
    from {
        transform: rotateY(-90deg);
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    }
}

@keyframes cv-menu-slide-top {
    from {
        transform: translateY(-100%);
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    }
}

@keyframes cv-menu-slide-bottom {
    from {
        transform: translateY(100%);
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    }
}

@keyframes cv-menu-slide-left {
    from {
        transform: translateX(-100%);
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    }
}

@keyframes cv-menu-slide-right {
    from {
        transform: translateX(100%);
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    }
}

@keyframes cv-shadow-pulse {
    0% {
        box-shadow: 0 0 6px 2px var(--main-color)
    }

    50% {
        box-shadow: 0 0 10px 2px var(--main-color)
    }

    100% {
        box-shadow: 0 0 6px 2px var(--main-color)
    }
}

@keyframes cv-shake {
    0%,100% {
        transform: none
    }
}
/*#endregion */

/*#region Background and backdrop */


.appMount-2yBXZl {
    background: var(--background-overlay)
}

.app-2CXKsg {
    background: rgba(0,0,0,0)
}

.bg-1QIAus {
    background: var(--background-image) var(--background-position)/var(--background-size) var(--background-repeat) var(--background-attachment);
    filter: grayscale(var(--background-grayscale)) sepia(var(--background-sepia)) invert(var(--background-invert)) brightness(var(--background-brightness)) contrast(var(--background-contrast)) saturate(var(--background-saturation)) blur(var(--background-blur));
    z-index: -9999
}

.appMount-2yBXZl .layers-OrUESM, .appMount-2yBXZl .layer-86YKbF {
    background: rgba(0,0,0,0)
}

.layer-86YKbF .container-1eFtFS, .layer-86YKbF .standardSidebarView-E9Pc3j {
    background: rgba(0,0,0,0)
}

.container-1eFtFS .base-2jDfDU {
    border-radius: 0
}

.backdrop-2ByYRN:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--backdrop-image) var(--backdrop-position)/var(--backdrop-size) var(--backdrop-repeat) var(--backdrop-attachment);
    filter: grayscale(var(--backdrop-grayscale)) sepia(var(--backdrop-sepia)) invert(var(--backdrop-invert)) brightness(var(--backdrop-brightness)) contrast(var(--backdrop-contrast)) saturate(var(--backdrop-saturation)) blur(var(--backdrop-blur));
    pointer-events: none
}

.backdrop-2ByYRN:after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--backdrop-overlay);
    pointer-events: none
}
/*#endregion */

/*#region What is this? */
.loading-1yrGTe {
    background-color: rgba(0,0,0,0)
}

    .loading-1yrGTe:before, .loading-1yrGTe:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 3px solid rgba(0,0,0,0);
        border-radius: 50%;
        margin: auto;
        filter: drop-shadow(0 0 3px var(--main-color));
        animation: cv-spin 1s ease-in-out infinite
    }

    .loading-1yrGTe:before {
        height: 26px;
        width: 26px;
        border-left-color: var(--main-color);
        border-right-color: var(--main-color)
    }

    .loading-1yrGTe:after {
        height: 16px;
        width: 16px;
        border-top-color: var(--main-color);
        border-bottom-color: var(--main-color);
        animation-direction: reverse
    }

body, button, input, select, textarea, ::placeholder {
    font-family: var(--main-font)
}

::selection {
    color: #fff;
    background: var(--main-color)
}

.notice-2HEN-u {
    border-radius: 3px
}

    .notice-2HEN-u.colorDefault-1e8tQv {
        background: rgba(67,181,129,.6)
    }

    .notice-2HEN-u.noticePremium-12Zvj9 {
        background: rgba(32,34,37,.6)
    }

    .notice-2HEN-u.noticeInfo-3_iTE1 {
        background: rgba(74,144,226,.6)
    }

    .notice-2HEN-u.noticeSuccess-3Y62ob {
        background: rgba(67,181,129,.6)
    }

    .notice-2HEN-u.colorDanger-2YLzLC {
        background: rgba(240,71,71,.6)
    }

    .notice-2HEN-u.colorStreamerMode-8uoRWd {
        background: rgba(145,70,255,.6)
    }

    .notice-2HEN-u.noticeFacebook-3equ5g {
        background: rgba(24,119,242,.6)
    }

    .notice-2HEN-u.noticeSpotify-27dhr0 {
        background: rgba(29,185,84,.6)
    }

    .notice-2HEN-u.colorBrand1-2u_MN9 {
        background: rgba(0,0,0,0)
    }

        .notice-2HEN-u.colorBrand1-2u_MN9:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: var(--main-color);
            opacity: .6;
            z-index: -1;
            border-radius: 3px
        }

    .notice-2HEN-u .textLink-2oCmaf {
        color: #fff
    }

    .notice-2HEN-u.notice-1x8lm- {
        background: rgba(0,0,0,.6)
    }

/*#endregion */